@model List<EjercicioUnidad7.Models.ClsPersona>
@{
    ViewData["Title"] = "listadoPersonas";
}

<h1>listadoPersonas</h1>
<table border="1">

    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
    </tr>
   

        @foreach(var persona in Model)
        {
        <tr>
            <th>@persona.Nombre</th>
            <th>@persona.Apellido</th>
            <th>@persona.Edad</th>
        </tr>
        }

        @Html.ActionLink("Ir al index","Index")
        <br />
    @Html.ActionLink("Mostrar posicion 3", "listadoPersonasPos3")
</table>
